<div class="footer-middle">
        <div class="commonweb">
          <style>.footer-nav li h5{line-height:1.5em; /*font-size:1.1em*/} .footer-nav li h2{padding-bottom:0.7em;}</style>
          		<ul class="clearfix footerul footer-nav">
                <li>                  
                     <img src="storage/15291/images/20210121/20210121190856_47880.png" width="120" height="120">
                </li> 
                <li>
                  <h2 style="color: #999999">Contact us</h2>
                    <h5 style="color: #999999">Adress ：8 Jinhang Road, Xiangyi Industrial Park, Houma Economic Development Zone, Shanxi Province, China</h5>
                    <!-- <h5 style="color: #999999">电话：0357-40803388</h5>
                  	<h5 style="color: #999999">          15364866446</h5> -->
                  <h5 style="color: #999999">Mobile/Whatsapp ：+86 13028051647</h5>
                    <h5 style="color: #999999">Email ：chapsxhm@126.com</h5>
                </li>
            </ul>
            
            <div class="footer-bottom">
               Copyright © <script>document.write(new Date().getFullYear());</script>
            </div>
        </div>
    </div>
