<footer>
    <div class="footer-middle">
        <div class="commonweb">
          <style>.footer-nav li h5{line-height:1.5em; /*font-size:1.1em*/} .footer-nav li h2{padding-bottom:0.7em;}</style>
          		<ul class="clearfix footerul footer-nav">
                <li>                  
                     <img src="/storage/15291/images/20210121/20210121190856_47880.png" width="120" height="120">
                </li> 
                <li>
                  <h2 style="color: #999999">Contact us</h2>
                    <h5 style="color: #999999">Adress ：8 Jinhang Road, Xiangyi Industrial Park, Houma Economic Development Zone, Shanxi Province, China</h5>
                    <!-- <h5 style="color: #999999">电话：0357-40803388</h5>
                  	<h5 style="color: #999999">          15581875461</h5> -->
                  <h5 style="color: #999999">Mobile/Whatsapp ：+86 15581875461</h5>
                    <h5 style="color: #999999">Email ：chapsxhm@126.com</h5>
                </li>
            </ul>
            
            <div class="footer-bottom">
               Copyright © <script>document.write(new Date().getFullYear());</script>
            </div>
        </div>
    </div>
  
<div class="friendlink" style="background-color: #E9E9EB; height: 35px; line-height: 35px;">
                <div class="commonweb">
                    <p>
                        <span>友情链接：</span>
                       <a href="http://www.baidu.com" target="_blank" style=" color:#666666;">百度</a><a href="http://www.google.com" target="_blank" style=" color:#666666;">Google</a>
                    </p>
                </div>
            </div> 
</footer>
